// Typography
@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue.otf),
         url(../fonts/BebasNeue.ttf);
}
$fonts: 'Open Sans', sans-serif;
$font-headers: 'Open Sans', sans-serif;
%headers {
  font-weight: 400;
}

// Colors
$primary-color: #eee;
$font-color: #333;
$accent-color: #FFDD4A;
$main-background: #eee;
$border: 2px solid #333;

// Measurements
$max-width: 1200px;
$header-height: 45px;
$break: 940px;
$break-small: 320px;

%centered--full--screen {
  margin: 0 auto;
  padding: 0 10px 0;
  max-width: $max-width;
}

%subtle-shadow {
  -webkit-box-shadow: 0 6px 6px 0 rgba(0,0,0,.2);
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.2);
}

%card {
  display: block;
  position: relative;
}

%card-background {
    -webkit-transition: -webkit-filter 400ms ease-out;
    -moz-transition: -webkit-filter 400ms ease-out;
    -ms-transition: -webkit-filter 400ms ease-out;
    -o-transition: -webkit-filter 400ms ease-out;
    transition: -webkit-filter 400ms ease-out;
    -webkit-filter: brightness(1);

  &:hover {
    -webkit-filter: brightness(1.3);
  }
}
