@import '_variables.scss';

body, html {
  margin: 0 auto;
  background: $main-background;
  font-family: $fonts;
  color: $font-color;
  line-height: 1.3em;
}

h2 {
  @extend %headers;
  font-size: 1.9em;
}

h3 {
  @extend %headers;
  font-size: 1.7em;
}

.clearfix {
  clear: both;
  float: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: $header-height;
  background: $main-background;
  @extend %border;

  >.navigation {
    position: relative;
    @extend %centered--full--screen;
    width: 100%;

    >h1 {
      font-size: 2em;
      line-height: .1em;
      font-weight: 400;
      float: left;

      a {
        text-decoration: none;
        color: $font-color;
      }
    }

    >.list {
      $size: 20px;
      display: block;
      height: $size;
      width: $size;
      margin: 11px -40px 0 0;
      float: right;
      opacity: .8;
      cursor: pointer;
      background: url('../images/menu.png') no-repeat;

      &:hover {
        opacity: 1;
      }

      >.menu.item {
        display: none;
      }
    }
  }

}

.content-holder {
  @extend %centered--full--screen;
  position: relative;
  top: $header-height;

  .games {
    margin: 50px 0 0;
    float: none;
    clear: both;
  }
}
.card.game {

  @extend %card;
  @extend %card-background;
  //@extend %subtle-shadow;
  box-sizing: border-box;
  width: 24%;
  height: auto;
  float: left;
  padding: 0;
  margin: 10px 0;
  cursor: pointer;
  opacity: .9;

  > img.game-image {
    display: block;
    width: 100%;
    height: auto;
  }

  > span.score {
    text-shadow: 0 1px 3px #000000;
    display: block;
    text-align: center;
    margin: -100px 0 -20px;
    padding: 40px 0 50px;
    font-weight: 700;
    font-size: 3.6em;
    color: #eeeeee;
}

  > h3.teams {
    width: 100%;
    margin: 0;
    padding: 20px 0 17px;
    text-align: center;
    line-height: 1.05em;
    color: #eee;
    background: #333;
  }

  > span.time.passed {
    position: absolute;
    height: 4px;
    width: 60%;
    background: #87C9BD;
    padding: 0;
    margin: 0;
  }

  & + & {
    margin-left: 1.3333%;
  }

  &:hover img.game-image {
    opacity: 1;
    cursor: pointer;
  }
}

::selection {
  background: #333;
  color: #FFDD4A;
}

.gameCanvas {
  width: 100%;
  background: #E7ECDE;
}

@media screen and (max-width: $break) {
    .card.game {
      width: 48%;
      
      & {
        margin-left: 0;
      }
      & + & {
        margin-left: 2%;
      }

      & + & + & {
        margin-left: 0;
      }

      & + & + & + & {
        margin-left: 2%;
      }
    }
}