@import 'variables';

body, html {
  margin: 0 auto;
  background: $main-background;
  font-family: $fonts;
  color: $font-color;
  line-height: 1.3em;
}

h2 {
  @extend %headers;
  font-size: 1.4em;
}

h3 {
  @extend %headers;
  font-size: 1.3em;
}

.clearfix {
  clear: both;
  float: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;

  >.navigation {
    position: relative;
    @extend %centered--full--screen;
    width: 100%;

    >h1 {
      font-size: 1.6em;
      line-height: .2em;
      font-weight: 400;
      float: left;
    }

    >.list {
      $size: 20px;
      display: block;
      height: $size;
      width: $size;
      margin: 11px -40px 0 0;
      float: right;
      opacity: .8;
      cursor: pointer;
      background: url('../images/menu.png') no-repeat;

      &:hover {
        opacity: 1;
      }

      >.menu.item {
        display: none;
      }
    }
  }

}

.content-holder {
  @extend %centered--full--screen;
  position: relative;
  top: $header-height;

  .games {
    margin-top: 30px;
    float: none;
    clear: both;
  }
}
.card.game {

  @extend %card;
  @extend %card-background;
  box-sizing: border-box;
  width: 24%;
  float: left;
  padding: 0;
  cursor: pointer;
  opacity: .8;

  > span.score {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    font-stretch: condensed;
    line-height: 1.6em;
    margin: 20px -30px 0 0;
  }

  > h3.teams {
    display: block;
    width: 100%;
    padding: 20px 0;

    text-align: center;
    color: #fff;
    
    background: rgba(74, 74, 74, 0.8);
  }

  > span.time.passed {
    position: absolute;
    padding: 6px 4px 4px 5px;
    margin: 10px 10px 0 0;
    background: #fff;
  }

  & + & {
    margin-left: 1.3333%;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;

  }
}