// Fonts
$fonts: Hind, sans-serif;
$font-headers: Hind, sans-serif;

// Colors
$primary-color: #333;
$main-background: #f8fff8;

// Measurements
$max-width: 1200px;

// Reusable layouts
$border: 2px solid #333;

// Snippets
%centered--full--screen {
  margin: 0 auto;
  padding: 0 10px 0;
  max-width: $max-width;
}
