@import '_variables.scss';

body, html {
  margin: 0 auto;
  background: $main-background;
  font-family: $fonts;
  line-height: 1.3em;
}

h2 {
  @extend %headers;
  font-size: 1.4em;
}

h3 {
  @extend %headers;
  font-size: 1.3em;
}

.clearfix {
  clear: both;
  float: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  border-bottom: $border;

  >.navigation {
    position: relative;
    @extend %centered--full--screen;
    width: 100%;

    >h1 {
      font-size: 1.6em;
      line-height: .2em;
      font-weight: 400;
      float: left;
    }

    >.list {
      $size: 20px;
      display: block;
      height: $size;
      width: $size;
      margin: 11px -40px 0 0;
      float: right;
      opacity: .8;
      cursor: pointer;
      background: url('../images/menu.png') no-repeat;

      &:hover {
        opacity: 1;
      }

      >.menu.item {
        display: none;
      }
    }
  }

}

.content-holder {
  @extend %centered--full--screen;
  position: relative;
  top: $header-height;

  .games {
    margin-top: 30px;
    float: none;
    clear: both;
  }
}
.card.game {

  @extend %card;
  @extend %card-background;
  box-sizing: border-box;
  width: 24%;
  float: left;
  padding: 40px 10px 20px;

  > span.score {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    font-stretch: condensed;
    line-height: 1.6em;
  }

  > h3 {
    text-align: center;
  }

  > span.time.passed {
    height: 4px;
    display: block;
    background: #cccccc;
    background-image: -moz-linear-gradient(90deg, #ddd 0%, #cccccc 67%);
    background-image: -webkit-linear-gradient(90deg, #ddd 0%, #cccccc 67%);
    background-image: linear-gradient(90deg, #ddd 0%, #cccccc 67%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  & + & {
    margin-left: 1.3333%;
  }
}